# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
imutils
keras
matplotlib
numpy
opencv-python
#pillow
#python
scikit-learn
scipy
tensorboard
tensorflow
tensorflow-estimator
tensorflow-gpu
